<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="asyncapi-generator-test-suite">
    <test name="asyncapi-generator-tests">
        <classes>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.mapper.AsyncApiComponentMapperTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.utils.ConverterCommonUtilsTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.utils.ConverterCommonUtilsParseTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.utils.CodegenUtilsTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.diagnostic.DiagnosticMessagesTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.diagnostic.ExceptionDiagnosticTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.diagnostic.IncompatibleRemoteDiagnosticTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.model.AsyncApiResultTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.model.BalAsyncApi30SchemaImplTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.model.BalAsyncApi30MessageImplTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.model.BalBooleanSchemaTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.asyncspec.BallerinaToAsyncApiGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.HttpCodeGeneratorIntegrationTest"/>
            <class name="io.ballerina.asyncapi.generator.http.extractor.EventIdentifierExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.extractor.ServiceTypeExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.extractor.ConnectionAuthExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.extractor.SchemaExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.node.GenerateListenerConfigNodeTest"/>
            <class name="io.ballerina.asyncapi.generator.http.generator.ListenerGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.generator.DataTypesGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.generator.DispatcherGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.generator.ServiceTypesGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.utils.CodegenUtilsTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.WsClientCodeGeneratorIntegrationTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.extractor.DispatcherKeyExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.extractor.DispatcherStreamIdExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.extractor.ChannelExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.extractor.SchemaExtractorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.utils.CodegenUtilsTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.utils.CommonFunctionUtilsTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.ReferencedTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.PrimitiveTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.ArrayTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.MapTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.UnionTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.AllOfRecordTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.RecordTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.AnyDataTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.JsonTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.schema.TypeGeneratorFactoryTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.RemoteFunctionSignatureGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.RemoteFunctionReturnTypeGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.RemoteFunctionBodyGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.DocCommentsGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.client.ClientFieldGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.client.ClientInitGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.client.ClientWorkerGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.client.ClientHelperGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.node.client.ClientRemoteFunctionGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.ClientGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.DataTypesGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.UtilGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.BallerinaAuthConfigGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.ws.client.generator.TestGeneratorTest"/>
            <class name="io.ballerina.asyncapi.generator.http.WebhookDSLVerificationTest"/>
            <class name="io.ballerina.asyncapi.generator.http.validator.WebhookDslValidatorTest"/>
        </classes>
    </test>
</suite>
